body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to bottom right, #121212, #1e1e1e);
    color: #f5f5f5;
}

.up {
    color: white;
    height: 200px;
    width: 100%;
    background: #1a1a1a;
    font-weight: bold;
    font-size: 5em;
    position: relative;
}

.imag {
    position: absolute;
    top: 10px;
    right: 0;
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.theform {
    width: 50%;
    height: 400px;
    background: #2c2c2c;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
    margin: 40px auto;
}

.theform div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
    align-items: flex-start;
    margin-left: 6.5%;
}

input {
    width: 75%;
    height: 35px;
    margin-bottom: 10px;
    border: 1px solid #555;
    background-color: #3a3a3a;
    color: #f1f1f1;
    font-size: 16px;
    display: block;
    border-radius: 12px;
    padding: 5px 10px;
}

input::placeholder {
    color: #999;
}

label {
    font-size: 20px;
    margin-bottom: 4px;
    color: #ddd;
}

button {
    width: 60%;
    padding: 15px;
    background: #1e90ff;
    color: white;
    border: solid 1px #444;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 30px;
}

button:hover {
    background: #007acc;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 2em;
    text-align: center;
    margin: 20px auto 0 auto;
}